// search form
.search-form > div {
  position: relative;
}

.search-form .material-symbols-sharp {
  position: absolute;
  top: 50%;
  inset-inline-start: 0.75rem;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
}

.search-form mat-spinner {
  position: absolute;
  top: 50%;
  inset-inline-end: 0.75rem;
  z-index: 1;
  transform: translateX(50%) translateY(-50%);
}

// cdk listbox options
.cdk-option-active {
  @apply bg-off-white;
  outline: none;
}

.cdk-option[aria-selected="true"] {
  @apply bg-dark text-white;
}
