:host {
  display: block;
  width: 80vw;
  height: 80vh;
  background: #fff;
  padding: 0 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  animation: fadeIn 300ms ease-out forwards;
}
// cdk listbox
.cdk-option {
  @apply transition-colors duration-300;
}

.cdk-option-active,
.cdk-option[aria-selected="true"] {
  outline: none;
}

.cdk-option:hover > div,
.cdk-option-active > div,
.cdk-option[aria-selected="true"] > div {
  @apply bg-off-white;
}

.cdk-option[aria-selected="true"] > div::after {
  content: "check";
  font-family: "Material Icons";
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 0.5rem;
}

// animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
